@import './weather-icons-wind.css';
@import './weather-icons-wind.min.css';
@import './weather-icons.css';
@import './weather-icons.min.css';
@import '../font/Catamaran/stylesheet.css';
@import '../font/Roboto/stylesheet.css';
@import '../font/Merienda/stylesheet.css';

$title-font: 'Catamaran', sans-serif, monospace;
$body-font: 'Roboto', sans-serif, monospace;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: darkred;
  font: 400 16px/16px $body-font;
  color: #303030;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// MAIN PAGE OUTER CONTAINER --------------------------------------------//
.main-page-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

// PAGE BACKGROUND IMAGE CONTAINER --------------------------------------------//
.background-image-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;

  .background-image {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    image-rendering: auto;
    background-size: cover;
    display: none;
  }
}

// SHORTCUT BAR COMPONENT ---------------------------------------------------------------//
.shortcut-bar {
  display: flex;
  position: absolute;
  top: 60px;
  left: 60px;
  justify-items: flex-start;
  align-items: center;
  height: 60px;
  width: 240px;
  background-color: rgba(213, 216, 220, 0.8);
  border-radius: 4px;
  padding: 0;
  z-index: 10;

  .refresh-button-container,
  .delete-data-container {
    display: flex;
    align-items: center;
    height: 60px;
    width: 60px;

    .refresh-button,
    .delete-my-data-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70%;
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
      border-right: 2px solid rgba(127, 140, 141, 0.4);

      i {
        color: #606060;
        font-size: 22px;
        transition: 0.3s;

        &:hover {
          color: #303030;
          transition: 0.2s;
        }
      }
    }
  }

  .temp-format-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 120px;
    z-index: 10;
    padding-bottom: 2px;

    .temp-format-c,
    .temp-format-f {
      font: 700 28px/28px 'Merienda', sans-serif;
    }

    .temp-format-c {
      margin-right: 12px;
    }

    .temp-format-f {
      margin-left: 12px;
    }

    .temp-switch-label {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 28px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .temp-switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 6px;

        &::before {
          position: absolute;
          content: '';
          height: 20px;
          width: 10px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 4px;
        }
      }

      input:checked + .temp-switch-slider {
        background-color: #2196FB;
      }

      input:focus + .temp-switch-slider {
        box-shadow: 0 0 1px #2196FB;
      }

      input:checked + .temp-switch-slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
      }
    }
  }
}

// TEMPERATURE LABEL COLOR CHANGES ---------------------------------------------------------//
.hightlighted {
  color: #101010;
}

.unhighlighted {
  color: #606060;
}

// CURRENT WEATHER COMPONENT -------------------------------------------------------//
.current-weather-component {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: flex-end;
  height: 35%;
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 60px 40px;
  z-index: 2;
  text-shadow: black 2px 2px 10px;

  .current-temp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: auto;
    z-index: 2;
    padding: 40px 20px 0px 20px;

    .current-temp {
      font: 400 120px/120px $title-font;
      color: white;
    }
  }

  .current-location-info-container {
    display: flex;
    flex-flow: column nowrap;
    height: 40%;
    width: auto;
    max-width: 50%;

    .current-location-container,
    .current-datetime-container {
      display: flex;
      height: 50%;
      width: 100%;
      justify-content: start;
      align-items: flex-end;

      .current-location {
        font: 400 60px/60px $body-font;
        color: white;
      }

      .current-datetime {
        font: 300 26px/26px $body-font;
        color: white;
        margin: 10px 0;
      }
    }
  }

  .current-forecast {
    display: flex;
    flex-flow: column nowrap;
    height: 80%;
    width: auto;
    margin-left: 40px;

    .current-forecast-icon-container,
    .current-forecast-text-container,
    .current-forecast-extra-text-container {
      display: flex;
      justify-content: center;
      color: white;
    }

    .current-forecast-icon-container {
      height: 50%;
      align-items: flex-end;

      .current-forecast-icon {
        font-size: 68px;
      }
    }

    .current-forecast-text-container {
      align-items: center;
      height: 30%;

      .current-forecast-text {
        font: 300 26px/26px $body-font;
      }
    }

    .current-forecast-extra-text-container {
      align-items: center;
      height: 20%;

      .current-forecast-extra-text {
        font: 300 16px/16px $body-font;
        padding-bottom: 4px;
      }
    }
  }
}

// SIDEBAR ----------------------------------------------------------------//
.sidebar {
  display: flex;
  height: 100%;
  width: 30%;
  flex-flow: column nowrap;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../assets/img/textures/diagonales-decalees.png'), rgba(174, 182, 191, 0.5);
  backdrop-filter: blur(5px);
  z-index: 2;
  -webkit-box-shadow: -2px 0px 5px 0px rgba(40,41,41,0.29);
  -moz-box-shadow: -2px 0px 5px 0px rgba(40,41,41,0.29);
  box-shadow: -2px 0px 5px 0px rgba(40,41,41,0.29);
  padding: 30px;
  text-shadow: black 1px 1px 5px;

  .location-component {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 60%;

    .new-location-input-container {
      display: flex;
      height: 10%;
      width: 100%;
      flex-flow: row nowrap;

      .new-location-form {
        width: 100%;
        height: 100%;

        .new-location-input {
          width: 80%;
          height: 100%;
          background-color: transparent;
          outline: none;
          border: none;
          border-bottom: 2px solid rgba(174, 182, 191, 0.5);
          font: 300 22px/22px $title-font;
          color: white;

          &::placeholder {
            color: rgba(234, 237, 237, 0.9);
            font-weight: 400;
            text-shadow: black 2px 2px 10px;
          }

          &:focus {
            background-color: transparent;
            outline: none;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-text-fill-color: white;
            -webkit-box-shadow: 0 0 0px 1000px rgba(1, 1, 1, 0) inset;
            transition: background-color 5000s ease-in-out 0s
          }
        }

        .new-location-submit {
          position: absolute;
          top: 0;
          right: 0;
          height: 80px;
          width: 80px;
          background: rgba(248, 249, 249, 0.7);
          backdrop-filter: blur(15px);
          border: none;
          outline: none;
          transition-duration: 0.2s;
          border-bottom-left-radius: 2px;

          p {
            font-size: 26px;
            font-weight: 300;
            color: #2C3E50;
            transition-duration: 0.25s;
          }

          &:hover {
            background-color: #FDFEFE;
            transition-duration: 0.15s;

            p {
              color:#2980B9;
              transition-duration: 0.2s;
            }
          }
        }
      }
    }

    .location-list {
      display: block;
      width: 100%;
      height: 84%;
      padding: 20px 0 30px 0;
      overflow: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track {
        width: 5px;
        height: 50%;
        background-color: rgba(248, 249, 249, 0.2);
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(248, 249, 249, 0.6);
        &:hover {
          background: rgba(248, 249, 249, 1);
        }
      }

      .location-list-item-container {
        display: flex;
        height: 50px;
        width: 100%;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 10px;

        .location-list-text {
          display: flex;
          align-items: center;
          font: 400 20px/20px $title-font;
          height: 100%;
          width: 50%;
          color: white;
          cursor: pointer;
        }

        .location-list-button {
          height: 40px;
          width: 40px;
          margin-left: auto;
          background-color: transparent;
          outline: none;
          color: rgba(248, 249, 249, 0.8);
          border: none;
          cursor: pointer;

          .location-delete-button-text {
            font-size: 20px;
          }
        }
      }
    }
  }

  .weather-details-component {
    display: flex;
    height: 40%;
    width: 100%;
    flex-flow: column nowrap;

    .weather-details-subtitle {
      display: flex;
      height: 15%;
      width: 100%;
      justify-content: start;
      align-items: center;

      .weather-details-text {
        font: 400 24px/24px $title-font;
        color: white;
      }
    }

    .weather-details-list {
      display: flex;
      height: 85%;
      width: 100%;
      flex-flow: column nowrap;

      div {
        display: flex;
        align-items: center;
        height: 20%;

        p {
          width: 50%;
          font: 300 16px/16px $body-font;
          color: white;
        }

        .feels-like-data,
        .cloud-cover-data,
        .humidity-data,
        .wind-speed-data,
        .uv-index-data {
          text-align: right;
        }
      }
    }
  }
}

// MEDIA QUERIES ------------------------------------------------------------------//
@media screen and (max-width: 1024px) {
  .current-weather-component {
    padding: 10px;
    padding-top: 0;

    .current-temp-container {
      align-items: center;
      height: 40%;

      .current-temp {
        font-size: 100px;
      }
    }

    .current-location-info-container {
      height: 35%;
      .current-location-container {
        .current-location {
          font-size: 40px;
        }
      }
    }

    .current-forecast {
      height: 40%;

      .current-forecast-icon-container {
        height: 60%;

        .current-forecast-icon {
          font-size: 48px;
        }
      }

      .current-forecast-text-container {
        height: 40%;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .shortcut-bar {
    display: flex;
    flex-flow: column nowrap;
    height: 240px;
    width: 60px;
    padding: 0 10px;
    top: 10px;
    left: 10px;

    .refresh-button-container,
    .delete-data-container {
      width: 100%;
      border-bottom: 2px solid rgba(127, 140, 141, 0.4) !important;

      button {
        border-right: none !important;
      }
    }

    .temp-format-container {
      flex-flow: column nowrap;
      text-align: center;

      .temp-switch-label {
        transform: rotate(90deg);
      }

      .temp-format-c,
      .temp-format-f {
        margin: 0;
      }

      .temp-format-c {
        margin-bottom: 12px;
      }

      .temp-format-f {
        margin-top: 12px;
      }
    }
  }

  .current-weather-component {
    width: 45%;
    height: 45%;
    flex-flow: column-reverse nowrap;
    align-items: start;
    justify-content: flex-start;
    left: 0;
    bottom: 0;
    padding: 0 0 0 20px;

    .current-temp-container {
      align-items: center;
      height: 40%;
      padding: 0;

      .current-temp {
        font-size: 80px;
      }
    }

    .current-location-info-container {
      height: 40%;
      margin-top: 20px;
      width: 60%;

      .current-location-container {
        .current-location {
          font-size: 30px;
        }
      }

      .current-datetime-container {
        .current-datetime {
          font-size: 20px;
        }
      }
    }

    .current-forecast {
      height: 30%;
      margin-left: 0;

      .current-forecast-icon-container {
        height: 60%;

        .current-forecast-icon {
          font-size: 48px;
        }
      }

      .current-forecast-text-container {
        height: 40%;
      }
    }
  }

  .sidebar {
    padding: 20px 10px;
    width: 35%;

    .location-component {
      .new-location-input-container {
        .new-location-form {
          .new-location-submit {
            top: 20px;
            height: 40px;
            width: 40px;

            p {
              font-size: 20px;
            }
          }

          .new-location-input {
            font-size: 20px;

            &::placeholder {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .shortcut-bar {
    display: flex;
    flex-flow: column nowrap;
    height: 220px;
    width: 40px;
    padding: 0 10px;
    top: 0;
    left: 0;

    .refresh-icon,
    .delete-my-data-icon {
      svg {
        font-size: 16px;
      }
    }

    .refresh-button-container,
    .delete-data-container {
      width: 100%;
      border-right: none !important;
      border-bottom: 2px solid rgba(127, 140, 141, 0.4) !important;

      button {
        border-right: none !important;
      }
    }

    .temp-format-container {
      flex-flow: column nowrap;
      text-align: center;

      .temp-switch-label {
        transform: rotate(90deg);
      }

      .temp-format-c,
      .temp-format-f {
        margin: 0;
      }

      .temp-format-c {
        margin-bottom: 8px;
        font-size: 18px;
      }

      .temp-format-f {
        margin-top: 8px;
        font-size: 18px;
      }
    }
  }

  .current-weather-component {
    width: 55%;
    max-height: 50%;
    padding-right: 20px;

    .current-temp-container,
    .current-location-info-container,
    .current-forecast {
      text-align: center;
      width: 100%;
      justify-content: center;
    }

    .current-location-info-container {
      height: 35%;
      width: 100%;
      max-width: 100%;
      margin-top: 0;

      h3 {
        width: 100%;
      }
    }
  }

  .sidebar {
    padding: 20px 10px;
    width: 45%;

    .location-component {
      .new-location-input-container {
        .new-location-form {
          .new-location-submit {
            top: 30px;
            height: 25px;
            width: 25px;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;

            p {
              font-size: 12px;
            }
          }

          .new-location-input {
            font-size: 16px;
            width: 90%;

            &::placeholder {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
