@import './weather-icons-wind.css';
@import './weather-icons-wind.min.css';
@import './weather-icons.css';
@import './weather-icons.min.css';
@import '../font/Catamaran/stylesheet.css';
@import '../font/Roboto/stylesheet.css';

$title-font: 'Catamaran', sans-serif, monospace;
$body-font: 'Roboto', sans-serif, monospace;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: darkred;
  font: 400 16px/16px $body-font;
  color: #303030;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// MAIN PAGE OUTER CONTAINER --------------------------------------------//
.main-page-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

// PAGE BACKGROUND IMAGE CONTAINER --------------------------------------------//
.background-image-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;

  .background-image {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

// CURRENT WEATHER COMPONENT -------------------------------------------------------//
.current-weather-component {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  height: 35%;
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 3px solid red;
  padding-bottom: 60px;
  z-index: 2;

  .current-temp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: auto;
    z-index: 2;
    border: 1px solid lightcoral;
    margin-right: 40px;
    padding: 20px;

    .current-temp {
      font: $title-font;
      font-weight: 400;
      font-size: 120px;
      color: white;
    }
  }

  .current-location-info-container {
    display: flex;
    flex-flow: column nowrap;
    height: 40%;
    width: auto;
    border: 1px solid lightgreen;

    .current-location-container,
    .current-datetime-container {
      display: flex;
      height: 50%;
      width: 100%;
      justify-content: start;
      align-items: flex-end;
      border: 1px solid black;

      .current-location {
        font: 400 60px/60px $body-font;
        color: white;
      }

      .current-datetime {
        font: 300 26px/26px $body-font;
        color: white;
        margin: 10px 0;
      }
    }
  }

  .current-forecast {
    display: flex;
    flex-flow: column nowrap;
    height: 60%;
    width: auto;
    border: 1px solid lightcoral;
    margin-left: 40px;

    .current-forecast-icon-container,
    .current-forecast-text-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid lightgray;
      color: white;
    }

    .current-forecast-icon-container {
      height: 70%;

      .current-forecast-icon {
        font-size: 68px;
      }
    }

    .current-forecast-text-container {
      height: 30%;

      .current-forecast-text {
        font: 300 26px/26px $body-font;
      }
    }
  }
}

// SIDEBAR ----------------------------------------------------------------//
.sidebar {
  display: flex;
  height: 100%;
  width: 30%;
  flex-flow: column nowrap;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../assets/img/textures/diagonales-decalees.png'), rgba(174, 182, 191, 0.5);
  backdrop-filter: blur(5px);
  z-index: 2;
  border-left: 1px solid  rgba(40,41,41,0.4);
  -webkit-box-shadow: -2px 0px 5px 0px rgba(40,41,41,0.29);
  -moz-box-shadow: -2px 0px 5px 0px rgba(40,41,41,0.29);
  box-shadow: -2px 0px 5px 0px rgba(40,41,41,0.29);
  padding: 30px;

  .location-component {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 60%;
    border: 1px solid red;

    .new-location-input-container {
      display: flex;
      height: 10%;
      width: 100%;
      flex-flow: row nowrap;

      .new-location-form {
        width: 100%;
        height: 100%;

        .new-location-input {
          width: 80%;
          height: 100%;
          background-color: transparent;
          outline: none;
          border: none;
          border-bottom: 2px solid rgba(174, 182, 191, 0.5);
          font: 300 22px/22px $body-font;
          color: white;
        }

        .new-location-submit {
          position: absolute;
          top: 0;
          right: 0;
          height: 80px;
          width: 80px;
          background: rgba(248, 249, 249, 0.9);
          backdrop-filter: blur(15px);
          border: none;
          outline: none;
        }
      }
    }

    .location-list {
      display: block;
      width: 100%;
      height: 90%;
      border: 1px solid lightgreen;
    }
  }
}